{
  "presets": ["react", "es2015", "stage-0"],
  "plugins": ["transform-react-constant-elements", "transform-react-inline-elements"],
  "env": {
    "production": {
      "presets": ["es2015", "react", "react-optimize", "es2015-native-modules",
        "stage-0"
      ]
    }
  }
}
