//------------------------------------------------------------------------------
// HELPERS
//------------------------------------------------------------------------------

@import "lib/vars";
@import "lib/normalize";
@import "lib/defaults";
@import "lib/common";

// --------------------------------
// Basic reset and setter
// --------------------------------
$oswald: 'Oswald', sans-serif;
$alegreya: 'Alegreya', serif;

body, html {
  font-family: $oswald;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// //------------------------------------------------------------------------------
// // Components
// //------------------------------------------------------------------------------
//
// @import "components/buttons";
// @import "components/social";
// @import "components/topbar";
// @import "components/header";
// @import "components/modals";
// @import "components/footer";
// @import "components/nav";
// @import "components/submenu";
// @import "components/wysiwyg";
// @import "components/sidebar";
// @import "components/forms";

//------------------------------------------------------------------------------
// Font Awesome
//------------------------------------------------------------------------------

// @import "fontawesome/fontawesome";
