.header {
  color: black;
}

  .header__title {
    display: inline-block;
    padding: 0 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 3.5em;
  }

  .main-nav {
    text-align: center;
  }

  .main-nav-link {
    font-weight: 400;
    letter-spacing: 2px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    border-radius: 3px;
    color: black;

    &.active,
    &:hover {
      background-color: #0085F3;
    }

  }
